@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Public Sans";
  line-height: 1.1;
  margin: 0;
  padding: 1rem;
}
